In [1]:
# prompt: mount google drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

# Assuming the file path is correct and the file exists
file_path = "/content/drive/MyDrive/01. University/02. Research/Sir/Completed/Dengu/Dengue Dynamica Data.xlsx"

try:
  df = pd.read_excel(file_path)
  print(df.head()) # Display the first few rows of the DataFrame
except FileNotFoundError:
  print(f"Error: File not found at {file_path}")
except Exception as e:
  print(f"An error occurred: {e}")

              Age     Sex    Division   Living Place   Education  \
0  18 to 40 years  Female  Chattogram          Rural  Illiterate
1  18 to 40 years    Male       Dhaka          Urban   Secondary
2  18 to 40 years    Male       Dhaka     Semi Urban      Higher
3  18 to 40 years    Male  Chattogram          Urban     Primary
4  18 to 40 years    Male       Dhaka          Urban  Illiterate

  Occupation Status Financial Status Familiar with Dengue fever  \
0         Housewife             Poor                         No
1           Service     Middle class                        Yes
2           Service     Middle class                        Yes
3            Others             Poor                        Yes
4            Others     Middle class                         No

  Responsible for Dengue fever Most common time for mosquito bites  \
0                   Don’t know                          Don’t know
1                   Don’t know                          Don’t know
2              Mosquito's bite                                 Day
3              Mosquito's bite                          Don’t know
4                   Don’t know                          Don’t know

  Dengue is a contagious disease  \
0                             No
1                             No
2                             No
3                             No
4                             No

                  Signs and symptoms of Dengue fever Can detect Aedes  \
0                       High fever, Acute body aches               No
1  High fever, Acute body aches, Diarrhea and vom...               No
2  High fever, Acute body aches, Diarrhea and vom...               No
3  High fever, Acute body aches, Diarrhea and vom...               No
4                       High fever, Acute body aches               No

  Dengue requirs hospitalization Tests are needed to diagonise Dengue fever  \
0                            Yes                                         No
1                            Yes                                        Yes
2                            Yes                                         No
3                            Yes                                         No
4                            Yes                                         No

  Protections from mosquito bites
0   Use Spray/Coil/Cream, Use Net
1            Use Spray/Coil/Cream
2   Use Spray/Coil/Cream, Use Net
3            Use Spray/Coil/Cream
4                         Use Net

In [6]:
# prompt: get the column names

import pandas as pd



# Assuming the file path is correct and the file exists
file_path = "/content/drive/MyDrive/01. University/02. Research/Sir/Completed/Dengu/Dengue Dynamica Data.xlsx"

try:
  df = pd.read_excel(file_path)
  # Get the column names
  column_names = df.columns.tolist()
  print(column_names)
except FileNotFoundError:
  print(f"Error: File not found at {file_path}")
except Exception as e:
  print(f"An error occurred: {e}")

['  Age', 'Sex', '  Division', '  Living Place', 'Education', 'Occupation Status', 'Financial Status', 'Familiar with Dengue fever', 'Responsible for Dengue fever', 'Most common time for mosquito bites', 'Dengue is a contagious disease', 'Signs and symptoms of Dengue fever', 'Can detect Aedes', 'Dengue requirs hospitalization', 'Tests are needed to diagonise Dengue fever', 'Protections from mosquito bites']

In [14]:
# prompt: make a frequency table in percentage based on the column names and generate in a tabular format with border lines and export a .csv file containing a books based on column name and include all the books in the .csv file and export to "/content/drive/MyDrive/01. University/02. Research/Sir/Completed/Dengu"

import pandas as pd


# Assuming the file path is correct and the file exists
file_path = "/content/drive/MyDrive/01. University/02. Research/Sir/Completed/Dengu/Dengue Dynamica Data.xlsx"

try:
    df = pd.read_excel(file_path)

    # Calculate frequency table in percentage for each column
    frequency_tables = {}
    for column in df.columns:
        frequency_tables[column] = df[column].value_counts(normalize=True) * 100

    # Generate tabular output with borders
    from IPython.display import HTML, display

    def display_table(df):
        display(HTML(df.to_html(index=True)))

    for column_name, frequency_table in frequency_tables.items():
        print(f"Frequency Table for '{column_name}':")
        display_table(frequency_table.to_frame(name="Percentage"))
        print("-" * 50)  # Separator line

    # Export data to a CSV file.
    export_file_path = "/content/drive/MyDrive/01. University/02. Research/Sir/Completed/Dengu/books_data.csv"
    df.to_csv(export_file_path, index=False)  # index=False prevents writing row indices to the file
    print(f"Data exported to {export_file_path}")

except FileNotFoundError:
    print(f"Error: File not found at {file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

Frequency Table for '  Age':

--------------------------------------------------
Frequency Table for 'Sex':

--------------------------------------------------
Frequency Table for '  Division':

--------------------------------------------------
Frequency Table for '  Living Place':

--------------------------------------------------
Frequency Table for 'Education':

--------------------------------------------------
Frequency Table for 'Occupation Status':

--------------------------------------------------
Frequency Table for 'Financial Status':

--------------------------------------------------
Frequency Table for 'Familiar with Dengue fever':

--------------------------------------------------
Frequency Table for 'Responsible for Dengue fever':

--------------------------------------------------
Frequency Table for 'Most common time for mosquito bites':

--------------------------------------------------
Frequency Table for 'Dengue is a contagious disease':

--------------------------------------------------
Frequency Table for 'Signs and symptoms of Dengue fever':

--------------------------------------------------
Frequency Table for 'Can detect Aedes':

--------------------------------------------------
Frequency Table for 'Dengue requirs hospitalization':

--------------------------------------------------
Frequency Table for 'Tests are needed to diagonise Dengue fever':

--------------------------------------------------
Frequency Table for 'Protections from mosquito bites':

--------------------------------------------------
Data exported to /content/drive/MyDrive/01. University/02. Research/Sir/Completed/Dengu/books_data.csv